{{template "admin" .}}

{{define "admin-title"}}
    All Reservations
{{end}}

{{define "content"}}
<div class="w-full">
    {{$res := index .Data "reservations"}}

    <table class="table-auto w-full text-left">
        <thead>
          <tr>
            <th class="px-2">ID</th>
            <th class="px-2">Last Name</th>
            <th class="px-2">Room</th>
            <th class="px-2">Arrival</th>
            <th class="px-2">Departure</th>
          </tr>
        </thead>
        <tbody>
            {{range $res}}
            <tr>
                <td class="px-2">{{.ID}}</td>
                <td class="px-2">{{.LastName}}</td>
                <td class="px-2">{{.Room.RoomName}}</td>
                <td class="px-2">{{humanDate .StartDate}}</td>
                <td class="px-2">{{humanDate .EndDate}}</td>
            </tr>
            {{end}}
        </tbody>
      </table>
</div>
{{end}}